.newsletter, .newsletter-submited{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #F2F2F2;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    padding: 5%;
}
.newsletter h2{
    font-size: 2.5rem;
}
.newsletter-form form{
    display: flex;
    flex-wrap: wrap;
}
.newsletter-form input{
    width: 28rem;
    height: 4.8rem;
    margin: 0.4rem;
    border-radius: 5px;
    padding-inline-start: 1.6rem;
}
.input-wrong{
    border: 1px solid red;
}
.newsletter-form .invalid-input{
    position: absolute;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    color: red;
}
.newsletter-form button, .newsletter-submited button{
    width: 14rem;
    height: 4.8rem;
    margin: 0.4rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}
.newsletter-form button:hover{
    background: #333333;
}

@media (max-width: 600px){
    .newsletter h2{
        font-size: 2rem;
    }
    .newsletter-form form{
        display: flex;
        flex-direction: column;
    }
    .newsletter-form input, .newsletter-form button, .newsletter-submited button{
        width: 90vw;
    }
    
}