.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #F2F2F2;
    font-family: 'Nunito', sans-serif;
}
.newsletter-form input{
    width: 28rem;
    height: 4.8rem;
    margin: 0.4rem;
    border-radius: 5px;
    padding-inline-start: 1.6rem;
}
.newsletter-form button{
    width: 14rem;
    height: 4.8rem;
    margin: 0.4rem;
    background: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}
.newsletter-form button:hover{
    background: #333333;
}