*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;    
}
html{
    font-size: 62.5%;
    height: 100vh;    
}
.App{
    font-size: 1.6rem;
    
}