.vitrine{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2.5rem 10%;
    width: 80%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.vitrine h2{
    font-weight: 900;
}
.line{
    width: 6.5rem;
    background: #C0C0C0;
    border: 0.229rem solid #C0C0C0;
}
.content{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product-content{
    display: flex;
    flex-direction: column;
    width: 20rem;

}

.product-content:hover{
    background-color: #E6E8EA;
 
}

.img-content{
    position: relative;
}
.product-img{
    width: 100%;
    height: 20rem;
}
.product-flag{
    right: 0;
    position: absolute;
}
.product-flag-none{
    right: 0;
    position: absolute;
    display: none;
}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product-name{
    color: #7A7A7A;
    font-weight: 600;
    font-size: 2rem;
}
#product-price{
    font-weight: 700;
}
#product-parcelation{
    height: 2.2rem;
    color: #7a7a7a;
    font-weight: 400;
}
#product-listPrice{
    height: 2.2rem;
    color: #7a7a7a;
    font-weight: 400;
}

.product-content:hover #product-listPrice{
    text-decoration: line-through;
}

.buy-button{
   width: 50%;
   margin: 0.2rem;
   height: 3rem;
   color: transparent;
   border-radius: 1rem;
   background-color: transparent; 
}
.product-content:hover .buy-button{
    background-color: black;
    color: #FFFFFF;
}

.left-arrow, .right-arrow{
    width: 18px;
    height: 18px;
}
.left-arrow:hover{
    content:url('../../assets/left-arrow_hover.png');
}
.right-arrow:hover{
    content:url('../../assets/right-arrow_hover.png');
}

@media (max-width: 600px){
    .vitrine{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 80%;
        height: 20%;
        display: flex;
        align-items: flex-start;
        font-family: 'Nunito', sans-serif;
        text-align: center;
    }
    .left-arrow, .right-arrow{
        display: none;
    }

}