.vitrine{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2.5rem 10%;
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    font-family: 'Nunito', sans-serif;
}
.vitrine h2{
    font-weight: 900;
}
.line{
    width: 6.5rem;
    background: #C0C0C0;
    border: 0.229rem solid #C0C0C0;
}
.content{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-content{
    display: flex;
    flex-direction: column;

}

.product-content:hover{
    background-color: #E6E8EA;
 
}

.img-content{
    position: relative;
}
.product-img{
    width: 100%;
    height: 60%;
}
.product-flag{
    right: 0;
    position: absolute;
}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#product-name{
    color: #7A7A7A;
    font-weight: 600;
}
#product-price{
    font-weight: 700;
}
#product-parcelation{
    color: #7a7a7a;
    font-weight: 400;
}

.buy-button{
   width: 50%;
   margin: 0.2rem;
   height: 3rem;
   color: #FFFF;
   border-radius: 1rem;
   background-color: #FFFF; 
}
.product-content:hover .buy-button{
    background-color: black;
}

.left-arrow, .right-arrow{
    width: 18px;
    height: 18px;
}
.left-arrow:hover{
    content:url('../../assets/left-arrow_hover.png');
}
.right-arrow:hover{
    content:url('../../assets/right-arrow_hover.png');
}