.header, .infos{
    display: flex;
}
.header{
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 18rem;
    height: 4rem;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(71.8rem, 40%);
    height: 2.3rem;
    border-bottom: 1px solid #7A7A7A;
}
.search-box input{
    width: max(70rem, 80%);
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.search-box img{
    width: 1.8rem;
    height: 1.8rem;
}
.infos{
    width: 20rem;
    display: flex;
    height: 2.3rem;
}
.account, .cart{
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.account p{
    font-size: 1.3rem;
}
.cart img{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.2rem;
}
.cart-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    color: #FFFFFF;
    background: #F8475F;
    border-radius: 1rem;
    font-size: 1.2rem;

}

.cart-view{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    overflow: auto;
}
.hidden-cart-view{
    display: none;
}

@media (max-width: 600px){
    .header{
        margin: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infos{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .account img{
        content: url('../../assets/square-icon.png');
    }
    .account p{
        display: none;

    }
    .search-box{
        display: flex;
        width: 95%;
        margin-top: 0.5rem;
    }
    .search-box input{
        width: 100%;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
    }

}