.banner-content{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    position: relative;
}
.banner-background{
    display: flex;
    position: absolute;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../assets/banner-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 50%;
}
.banner-text{
    width: 30rem;
}
.banner-text h1{
    font-weight: 700;
}
.banner-text h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 3rem;
}
.banner-img{
    margin-left: 45%;
    width: 55%;
}
@media (max-width: 600px){
    .banner-content{
        position: relative;
    }
    .banner-background{
        position: absolute;
        width: 100%;
        height: 30vh;
        background: rgba(0, 0, 0, 0.55)
    }
    .banner-img{
        width: 100%;
        margin: 0;
    }
    .banner-text{
        display: inline;
    }
}